.footer {
  background-color: var(--color-primary);
}

.footer__logo {
  display: flex;
  justify-content: center;
}

.footer__logo-image {
  width: 162px;   
  height: auto;
  margin-top: 30px;   
}

.footer__description {
  color: #a4a29f;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
}

.footer__icon {
  fill: var(--color-secondary);
}

.footer__navigation-title {
  font-weight: bold;
  text-align: center;
  color: var(--color-accent);
  margin-top: 50px;
}

.footer__menu {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #a4a29f;
}

.footer__menu-link {
  color: #a4a29f;
  text-decoration: none;
}

.footer__menu-item {
  margin-top: 20px;

}

.footer__subscribe-message {
  .footer__subscribe-title {
    color: var(--color-secondary);
  }
  color: var(--color-accent);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.footer__input {
  border-color:#f5f4f2;
  background-color: #554c46;
  display: block;
  text-align: center;
  /*Complete later*/
}

.footer__button {
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  color: #554c46;
  background-color: var(--color-secondary);
  border-radius: 34px;
  border: none;
}

/*desktop*/