.header-hero__quote {
  min-height: 400px;
  background-image: url(../img/header-hero/moving-men-holding-box.png);
  background-size: cover;
  background-position: right;
  padding: 175px 24px;
  display: flex;
  align-items: start;

  .header-hero__quote-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    background: white;
    padding: 30px;
    margin: 15px;
    width: 100%;

    header-hero__quote-title {
      overflow-wrap: break-word;
      word-break: break-word;
      white-space: normal;
      font-size: 64px;
      font-weight: 800;
      margin: 20px 0;
      padding: 5px;
      max-width: 100%;
    }

    .header-hero__quote-text {
      font-size: 19px;
      margin: 20px 0;
    }

    .header-hero__quote-button {
      display: inline-block;
      text-decoration: none;
      color: var(--color-primary);
      font-size: 16.5px;
      font-weight: 700;
      background-color: var(--color-secondary);
      padding: 10px 30px;
      border-radius: 20px;
      margin: 10px 0;

      &:hover {
        background-color: var(--color-primary);
        color: white;
        transition: all 0.3s ease;
      }
    }
  }
}

.header-hero__service-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: var(--color-accent);
  padding: 60px 24px 60px;

  .header-hero__service {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0 0;
    padding: 7.5px;

    .header-hero__service-image {
      display: block;
      width: 70px;
      height: 70px;
      flex-shrink: 0;
      background-color: var(--color-secondary);
      border-radius: 999px;
      float: left;
    }

    .header-hero__service-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0 15px;

      .header-hero__service-block-title {
        font-family: var(--font-main);
        font-size: 23px;
        flex-wrap: wrap;
        margin: 3px 0;
      }

      .header-hero__service-block-text {
        font-family: var(--font-secondary);
        font-size: 17px;
        flex-wrap: wrap;
      }
    }
  }
}

@media (min-width: 478px) {
  .header-hero__quote {
    .header-hero__quote-container {
      justify-content: center;
      width: 50%;
      margin: 50px;
    }
  }

  .header-hero__service-list {
    flex-direction: row;
    flex-wrap: wrap;

    .header-hero__service {
      max-width: 400px;
    }
  }
}

@media (min-width: 768px) {
  .header-hero__quote {
    .header-hero__quote-container {
      justify-content: start;
      width: 33%;
      margin: 100px;
    }
  }

  .header-hero__service-list {
    .header-hero__service {
      margin: 0;
    }
  }
}
