.recent-articles {
  padding: 90px 0px;
  background-color: var(--color-accent);
}
.recent-articles__title {
  text-align: center;
  font-size: 38px;
  color: #5c524b;
  font: size 38px;
  font-weight: 800;
  }
.recent-articles__subtitle {
  color: #76706b;
  text-align: center;
  font-size: 19px;
  padding: 24px 0;
  font-weight: 600;
  line-height: 26.6px;
}
.recent-articles__item-happy {
   background-image: url(../img/recent-articles/moving-happy.png);
   .recent-articles__description-happy {
      font-size: 22px;
      text-align: left;
      justify-content: flex-start;
      color: rgb(255, 255, 255);
      border-image: stretch;
      font-weight: 700;
      line-height: 28.6px;
   }
   }
  .recent-articles__link {
    color: rgb(249, 198, 73);
    border: image slice 100px;

  }
  .recent-articles__item-worker {
    background-image: url(../img/recent-articles/moving-worker.png);
     .recent-articles__description-worker {
      font-size: 22px;
      text-align: left;
      justify-content: flex-start;
      color: rgb(255, 255, 255);
      border-image: stretch;
      font-weight: 700;
      line-height: 28.6px;}
   }
   .recent-articles__item-family-work {
    background-image: url(../img/recent-articles/moving-family-work.png);
    .recent-articles__description-family-work {
      font-size: 22px;
      text-align: left;
      justify-content: flex-start;
      color: rgb(255, 255, 255);
      border-image: stretch;
      font-weight: 700;
      line-height: 28.6px;
    }
  }

   
  

    

  

    
    


  
