.header-hero__quote {
  min-height: 400px;
  background-image: url(../img/header-hero/moving-men-holding-box.png);
  background-size: cover;
  background-position: right;
  padding: 175px 24px;
  display: flex;
  align-items: center;
  justify-content: start;

  .header-hero__quote-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    background: white;
    padding: 50px;
    margin: 15px;
    width: 100%;

    header-hero__quote-title {
      font-size: 64px;
      font-weight: bold;
      margin: 20px 0;
      flex: 1;
    }

    .header-hero__quote-text {
      font-size: 19px;
      margin: 20px 0;
      flex: 1;
    }

    .header-hero__quote-button {
      display: inline-block;
      text-decoration: none;
      color: var(--color-primary);
      font-size: 16.5px;
      font-weight: 700;
      background-color: var(--color-secondary);
      padding: 10px 30px;
      border-radius: 20px;
      margin: 10px 0;
      flex: 1;

      &:hover {
        background-color: var(--color-primary);
        color: white;
        transition: all 0.3s ease;
      }
    }

    @media (min-width: 768px) {
      justify-content: start;
      width: 33%;
      margin: 100px;
    }
  }
}

.header-hero__service-list {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -ms-grid-column-align: center;

  @media (min-width: 478){
    grid-template-columns: 1fr 1fr;
  }

  .header-hero__service-image {
    display: block;
    width: 70px;
    height: 70px;
    object-fit: contain;
    background-color: var(--color-secondary);
    border-radius: 999px;
    margin: 30px;
    grid-column: 1 / 2;
  }

  .header-hero__service-title {
    font-family: var(--font-main);
    font-size: 23px;
    grid-column: 2 / 2;
    grid-row: 1 / 2;
  }

  .header-hero__service-text {
    font-family: var(--font-secondary);
    font-size: 17px;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  .header-hero__service {
    padding: 5px;
    display: grid;
  }
}
